<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- logger上下文，默认上下文名称为“default”,可以使用设置成其他名字，用于区分不同应用程序的记录 -->
	<contextName>msgcenter</contextName>
	<!-- 文件输出格式 -->
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} ~~~~~~~~~~~~~~~ %msg%n"/>
	<!-- test文件路径 -->
 	<property name="TEST_FILE_PATH" value="/test-log"/>
	<!-- prod文件路径 -->
 	<property name="PROD_FILE_PATH" value="/prod-log"/> 
  <!-- 家里的安装环境 -->
	<springProfile name="home">
		<!--appender负责写日志的组件，它有两个必要属性name和class。name指定appender名称，class指定appender的全限定名
			<encoder>：对日志进行格式化-->
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>
		
		<!--把>=INFO级别的日志都输出到控制台  -->
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
		
	 
	</springProfile>
 <!-- 开发环境 -->
	<springProfile name="dev">
		<!--appender负责写日志的组件，它有两个必要属性name和class。name指定appender名称，class指定appender的全限定名
			<encoder>：对日志进行格式化-->
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>
		
		<!--把>=INFO级别的日志都输出到控制台  -->
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
		
	 
	</springProfile>
 
	<!-- 生产环境 -->
	<springProfile name="prod">
		<appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>${PROD_FILE_PATH}/system.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>${PROD_FILE_PATH}/system.%d{yyyy-MM-dd_HH-MM}-%i.log</FileNamePattern>
				<MaxHistory>90</MaxHistory>
				<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<MaxFileSize>50MB</MaxFileSize>
				</TimeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<root level="INFO">
			<appender-ref ref="PROD_FILE"/>
		</root>
	</springProfile>
</configuration>